/* fonts */
@font-face {
  font-family: 'Inter-VariableFont';
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* layout + base styles */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #181818;
  --img-shadow: 2px 2px 2px #f2795e;
  --name-color: #f2795e;
  --txt-shdw: 2px 2px 0px rgb(27, 27, 27);
  --muted: #5a5a5a;
  --border: #343434;
  --btn-color: #232323;
  --btn-shdw:  2px 2px 0px #d66c54;
  --icon-color: grey;
}

body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background: var(--bg);
  font-family: 'Inter-VariableFont', sans-serif;
}

/* main container */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

/* profile card wrapper */
.profile-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-self: center;

  margin: 2rem;
  background: #232323;
  border-radius: 10px;
  border: 2px solid var(--border);
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  min-height: 500px;

  line-height: 1.3;
}

.profile-card-container:hover {
  box-shadow: 2px 2px 30px rgba(249, 120, 45, 0.214);
}

/* image wrapper + image */
/* conic gradient "pseudo-wrapped" around image using display: inline-flex */
.img-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 999px;
  background: conic-gradient(
    from 160deg,
    #fc7c59,
    #fe8052,
    #f97316,
    #eb6f42
  );
}
.img-wrapper img {
  border-radius: 999px;
  height: 70px;
}

/* avatar name */
.name {
  font-size: 1.20rem;
  color: var(--name-color);
  text-shadow: var(--txt-shdw);
}

.name::after {
  content: "";
  display: block;
  height: 3px;
  width: 120px;
  background: #505050;
  margin: 0 auto;
  margin-bottom: 5%;
  border-radius: 999px;
}

/* location + description */
.location,
.description {
  font-size: .83rem;
  line-height: 1.15;
  text-shadow: var(--txt-shdw);
}

.location {
  color: var(--muted);
}

.description {
  font-style: italic;
  color: var(--muted);
}

/* adding quotes using pseudo elements*/
.description:before,
.description:after {
  content: '"';
  color: var(--name-color);
}

/* social links wrapper */
.social-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-self: center;
  align-items: center;
  gap: 12px;
}

/* social links individual card */
.social-links-wrapper a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: .75rem;
  background: var(--btn-color);
  padding: .66rem;
  width: 230px;
  border-radius: 10px;
  box-shadow: var(--btn-shdw);

  transition: background 0.3s ease-in-out;
}

.social-links-wrapper a:hover {
  background: #f97355;
}

/* social link icon */
.social-icon {
  display: inline;
  margin-inline: 10px;
  font-size: 15px;
  color: var(--icon-color);
}

/* attribution */
.attribution {
  color: var(--muted);
  text-wrap: balance;
  max-width: 40ch;
}

.attribution a {
  text-decoration: none;
  color: var(--name-color);
  font-weight: 600;
}

@media (max-width: 480px) {
  .profile-card {
    padding: 2rem 2.2rem;
  }

  .name {
    font-size: 1.15rem;
  }

  .location,
  .description {
    font-size: 0.68rem;
  }

  .social-links-wrapper a {
    font-size: 0.8rem;
  }
}